
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.has-error{
  border-color: $danger;
  box-shadow: 0 0 0 0.2rem rgba(188, 51, 47, 0.4);

}

.error-text{
  margin-top: 5px;
  color: $danger;
  font-size: 10px;
  display: block;
}

.cont-url{
  .url-original{
    font-style: italic;
    color: $gray-500;
  }

  .url-acortada{
    font-weight: bold;
    color: $orange
  }

  hr{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.opcion-multiple{
  background-color: #eff7fc;
  border: 0.5px solid #efeff0;
}

.input-file-urls {
  &::after {
    color: $white;
    content: "Browse";
    background-color: $primary;
    border-left: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;

  }
}