<template>
    <div>
        <div class="row align-items-center justify-content-center">
            <div class="col-6 text-center">
                <h1 class="mb-3 mt-5 font-weight-bold">Acortador de urls</h1>
                <template v-if="!mostrarMultiple">
                    <div class="input-group">
                        <input type="text" :class="{'has-error': (urlValida !== null && !urlValida)}" v-model="urlLocal" class="form-control form-control-lg" id="url_original" placeholder="Pega aquí tu Url" required>
                        <div class="input-group-prepend">
                            <button class="btn btn-primary text-light" @click="crearUrl()">Acortar&nbsp;
                                <i class="fas fa-cut"></i>
                                <i class="fas fa-link"></i>
                            </button>
                        </div>
                    </div>
                    <p class="error-text text-left" v-if="(urlValida !== null && !urlValida)">La url no es válida</p>

                    <div class="card mt-3" v-if="(urlAcortada !== null)">
                        <div class="card-body text-left cont-url">
                            <a :href="urlLocal" class="url-original">{{urlLocal}}</a>
                            <hr>
                            <a :href="urlAcortada" class="url-acortada">{{urlAcortada}}</a>
                        </div>
                    </div>
                </template>
                <short-url-multiple v-on:mostrar-multiple="cambioMostrarMultiple" v-if="mostrarMultiple"></short-url-multiple>

                <div class="card mt-3 opcion-multiple" v-show="!mostrarMultiple">
                    <div class="card-body text-left cont-url">
                        <span class="m-2">¿Quieres acortar más de una url a la vez?</span> &nbsp;
                        <button class="btn btn-outline-success float-right" @click="mostrarMultiple=true">Acortar multiple</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "ShortUrlComponent",
        components: {},
        props: {
            exampleProp: {
                type: Number,
                required: false,
                default: 0
            }
        },
        data() {
            return {
                urlLocal: "",
                urlAcortada: null,
                urlValida: null,
                mostrarMultiple:false
            };
        },
        watch:{
            urlLocal(val){
                this.urlAcortada = null;
                this.urlValida = null;
            },
            mostrarMultiple(val){
                if(val){
                    this.urlAcortada = null;
                    this.urlValida = null;
                }
            }
        },
        methods:{
            cambioMostrarMultiple(e){
                this.mostrarMultiple = e;
            },
            validarUrl(url){
                return url.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
            },

            crearUrl(){
                if(this.validarUrl(this.urlLocal)){
                    this.urlAcortada = null;
                    return axios.post(apiUrlBase+"/url", {url_original: this.urlLocal})
                        .then((response) => {
                            this.urlAcortada = response.data;
                            this.urlValida = null;
                        }).catch((error) => {
                            console.warn("Ha ocurrido un error", error);
                        });
                }else{
                    this.urlValida = false;
                }

            }

        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>