<template>
    <div>
        <p class="text-left mb-0">Elije un archivo con extension: .txt, peso maximo: 0.5 Mb </p>
        <div class="input-group">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file"
                           @change="leerArchivo"
                           class="custom-file-input"
                           id="archivo_urls">
                    <label class="custom-file-label input-file-urls" for="archivo_urls">Elije un archivo</label>
                </div>
            </div>
        </div>
        <p class="error-text text-left" v-if="erroArchivoValido">El tipo de archivo no es .txt</p>

        <div class="card mt-3" v-if="(urlsValidas.length > 0) && !erroArchivoValido">
            <div class="card-body text-left cont-url">
                <a :href="itemUrl.url_original" v-for="itemUrl in urlsValidas" class="url-original d-block">{{itemUrl.url_original}}</a><br>
            </div>
        </div>

        <div class="card mt-3" v-if="(urlsAcortadas.length > 0) && !erroArchivoValido">
            <div class="card-header"><a href="" @click="descargarResultados">Descargar resultados&nbsp;<i class="fa fa-download"></i></a></div>

            <div class="card-body text-left cont-url">
                <a :href="itemUrl" v-for="itemUrl in urlsAcortadas" class="url-acortada d-block">{{itemUrl}}</a><br>
            </div>
        </div>

        <button class="btn btn-block btn-outline-info mt-3" @click="volver">Volver</button>


    </div>

</template>

<script>
    export default {
        name: "ShortUrlMultipleComponent",
        components: {},
        props: {
            exampleProp: {
                type: Number,
                required: false,
                default: 0
            }
        },
        data() {
            return {
                urlLocal: "",
                urlsAcortadas: [],
                urlValida: null,
                urlsValidas: [],
                urlsInvalidas: [],
                extensionesValidas: /(.txt)$/i,
                erroArchivoValido: false
            };
        },
        watch:{

        },
        methods:{
            volver(){
                this.$emit('mostrar-multiple', false);
            },
            leerArchivo(e){
                let archivo = e.target.files[0];
                this.erroArchivoValido = false;
                if (!this.validarArchivo(archivo)) {
                    this.erroArchivoValido = true;
                    return;
                }
                let lector = new FileReader();
                lector.onload = (e) => {
                    let contenido = e.target.result;
                    this.mostrarContenido(contenido);
                };
                lector.readAsText(archivo);
                this.erroArchivoValido = false;

            },

            descargarResultados(e){
                let link = e.target;
                link.download = "archivo.txt";
                link.href = "data:application/octet-stream," + encodeURIComponent(this.urlsAcortadas);
            },

            validarArchivo(archivo){
                let filePath = archivo.name;
                return this.extensionesValidas.exec(filePath);
            },

            mostrarContenido(contenido) {
                contenido = contenido.replace(/\s/g,'');
                contenido = contenido.split(",");
                this.urlsValidas = [];
                this.urlsInvalidas = [];

                for (let item of contenido) {
                    if(this.validarUrl(item)){
                        this.urlsValidas.push({url_original: item});
                    }else{
                        this.urlsInvalidas.push(item);
                    }
                }
                this.crearMultipleUrl();
            },

            validarUrl(url){
                return url.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
            },

            crearMultipleUrl(){
                this.urlsAcortadas = [];
                return axios.post(apiUrlBase+"/url/collection", this.urlsValidas)
                    .then((response) => {

                        this.urlsAcortadas = response.data;
                        this.urlValida = null;
                    }).catch((error) => {
                        console.warn("Ha ocurrido un error", error);
                    });
            }

        },
        mounted() {
            //console.log('Alert Component Mounted')
        }
    }
</script>

<style scoped>

</style>