<template>
    <div>
        <div class="row align-items-center justify-content-center">
            <div class="col-6">
                <h1 class="mb-3 mt-5 font-weight-bold text-center">Historial de urls</h1>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Url orginal</th>
                        <th scope="col">Url acortada</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="url in urlsAcortadas" class="cont-url">
                        <th scope="row">{{url.id}}</th>
                        <td><a :href="url.url_original" class="url-original">{{url.url_original}}</a></td>
                        <td><a :href="url.url_acortada" class="url-acortada">{{url.url_acortada}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "ShowHistoricComponent",
        components: {},
        props: {
            exampleProp: {
                type: Number,
                required: false,
                default: 0
            }
        },
        data() {
            return {
                urlsAcortadas: [],
            };
        },
        watch:{

        },
        methods:{
            obtenerUrlsAcortdas(){
                return axios.get(apiUrlBase+"/url")
                    .then((response) => {
                        this.urlsAcortadas = response.data.reverse();
                    }).catch((error) => {
                        console.warn("Ha ocurrido un error", error);
                    });
            }

        },
        mounted() {
            this.obtenerUrlsAcortdas();
        }
    }
</script>

<style scoped>

</style>